<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <%= f.association :categories, :as => :check_boxes %>


  <%= f.input :ingredients, :input_html => { :class => 'span10', :rows => 10, :cols => 60} %>
  <%= f.input :instructions %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
