<p id="notice"><%= notice %></p>
<div class="recipe">
  <h1><%= @recipe.title %></h1>

  <div class="ingredients">
    <h3>Ingredients</h3>
    <%= @recipe.ingredients %>
  </div>

  <div class="instructions">
    <h3>Instructions</h3>
    <%= @recipe.instructions %>
  </div>
</div>
  


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
